<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <form name="register" method="post">
        {% csrf_token %}

        <input type="text" name="first_name" placeholder="Your first name"><br>
        <input type="text" name="last_name" placeholder="Your last name"><br>
        <input type="text" name="username" placeholder="Username"><br>
        <input type="email" name="email" placeholder="Your email address"><br>
        <input type="password" name="password1" placeholder="Password"><br>
        <input type="password" name="password2" placeholder="Confirm Password"><br>
        <input type="submit"> <br> <br>

        <a href="/">Go to home page</a>

    </form>

    <div>
        {% for message in messages %}
        <H3>{{ messages }}</H3>
        {% endfor %}
    </div>


</body>
</html>